<header class="pages-header bg-img valign parallaxie bg-dark" data-background="./contact-us.jpg" data-overlay-dark="5" 
style="background-image: url('./contact-us.jpg'); 
background-size: cover; 
background-repeat: no-repeat; 
background-attachment: fixed; 
background-position: center 0px;
background-blend-mode: overlay;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cont text-center mt-30">
                    <h1>Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="contact">
    <div class="info bg-gray pt-80 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="item">
                        <i class="fa fa-location-arrow" aria-hidden="true" style="margin-top: 5px"></i> &ensp;
                        <div class="cont">
                            <h6 class="custom-font"><i class="pi pi-map-marker" style="color: #da552f"></i> : Address</h6>
                            <p> 123 Design Street, NY, USA</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <i class="fa fa-phone" aria-hidden="true" style="margin-top: 5px"></i> &ensp;
                        <div class="cont">
                            <h6 class="custom-font"><i class="pi pi-phone" style="color: #da552f"></i> : Call Us</h6>
                            <p>+91 8510840769/+91 8700733027</p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item">
                        <i class="fa fa-envelope" aria-hidden="true" style="margin-top: 5px"></i> &ensp;
                        <div class="cont">
                            <h6 class="custom-font"><i class="pi pi-envelope" style="color: #da552f"></i> : Email Us</h6>
                            <p>archlinestudio&#64;gmail.com</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 map-box">
           <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15551.479861190783!2d77.7498745!3d12.9801678!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x30108b0f8df485d6!2sDB%20Architects%20PVT%20LTD!5e0!3m2!1sen!2sin!4v1663830455439!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
            </div>
            <!-- <div class="col-lg-6 form">

                <form id="frmContact" method="post">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="form-group">
                            <input id="user_name" type="text" name="user_name" placeholder="Name">
                        </div>

                        <div class="form-group">
                            <input id="user_email" type="email" name="user_email" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <input id="user_phone" type="text" name="user_phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <textarea id="user_message" name="user_message" placeholder="Message" rows="4"></textarea>
                        </div>

                        <button type="submit" class="btn-curve btn-color"><span>Send Message</span></button>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
</section>