<header *ngIf="showHeader" class="pages-header bg-img valign parallaxie bg-dark" data-background="img1/inner-banner/our-team.jpg" data-overlay-dark="5" 
style="background-image: url('./team.png'); 
background-size: cover; 
background-repeat: no-repeat; 
background-attachment: fixed; 
background-position: center 0px;
background-blend-mode: overlay;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cont text-center mt-30">
                    <h1>About Us</h1>
                    <!-- <div class="path">
                        <a routerLink="/">Home</a><span>/</span><a href="#" class="active">Darchline Studio</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</header>
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 valign">
                <div class="exp-content nopat wow fadeInUp animated" data-wow-delay=".3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h6 class="sub-title">About Us</h6>
                    <h2 class="mb-20 playfont" style="font-family: 'Roboto', sans-serif;">DARCHLINE Studio</h2>
                    <!-- <p>Our <span style="color: #302f2e;"> Philosophy </span> to Architecture is to achieve beauty
                        through research of <span style="color: #302f2e;"> Details</span> and precise juxtaposition of
                        materials, imbue each commission with a <span style="color: #302f2e;"> timeless </span> quality
                        of its own, and ultimately to <span style="color: #302f2e;">create </span> sence of identity.
                    </p>

                    <p class="mt-20">We put the utmost importance on the well-being of <span style="color: #302f2e;">
                            people </span> and the planet through our <span style="color: #302f2e;"> sustainable </span>
                        design solutions and best practices in the field.</p> -->

                    <p> We are a leading <span style="color: #302f2e;"> Architectural firms in Gaziabad, Uttar Pradesh
                        </span>, with a mission to provide our clients with innovative designs that meet their needs and
                        exceed their expectations. We are the team of a experienced architects who has a passion for
                        designing buildings that are not only functional but also visually appealing.</p>

                    <p>Our mission is to create buildings that enhance the lives of the people who use them. We believes
                        that architecture should not only meet the functional needs of its users but also provide a
                        positive impact on their quality of life.</p>

                    <div class="numbers mt-50">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="item">
                                    <h3><span class="nbr custom-font">50+</span></h3>
                                    <h6>Projects Completed</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item">
                                    <h3><span class="nbr custom-font">10+</span></h3>
                                    <h6>Expert Professional</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item">
                                    <h3><span class="nbr custom-font">7+</span></h3>
                                    <h6>Years of Expierence</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="ab-exp">
                    <div class="row">
                        <!-- <div class="col-md- mb-20">
                            <div class="pattern bg-img bg-repeat" data-background="img/line-pattern.png">
                            </div>
                        </div> -->

                        <div class="col-md-12 wow fadeInUp" data-wow-delay=".3s"
                            style="visibility: visible; animation-delay: 0.3s;">
                            <!-- <div class="img mb-20 wow imago animated animated" style="visibility: visible;">
                                <img src="./s1.jpg" alt="dummy-image">
                                
                            </div> -->
                            <!-- <div class="card flex justify-center"> -->
                                <!-- <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria11.jpg" [preview]="true" alt="Image" width="250">
                                    <ng-template pTemplate="indicator">
                                        <i class="pi pi-search"></i>
                                    </ng-template>
                                    <ng-template pTemplate="image">
                                        <img src="https://primefaces.org/cdn/primeng/images/galleria/galleria11.jpg" alt="image" width="250" />
                                    </ng-template>
                                    <ng-template pTemplate="preview" let-style="style" let-previewCallback="previewCallback">
                                        <img src="https://primefaces.org/cdn/primeng/images/galleria/galleria11.jpg" alt="image" [style]="style" (click)="previewCallback()" />
                                    </ng-template>
                                </p-image> -->
                                <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria11.jpg" alt="Image" width="550" [preview]="true" />

                            <!-- </div> -->

                        </div>

                        <div class="col-md-12 wow fadeInUp animated" data-wow-delay=".3s">
                            <!-- <div class="card flex justify-center"> -->
                                <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" alt="Image" width="550" [preview]="true" />
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
  
</section>