<header class="pages-header bg-img valign parallaxie bg-dark" data-background="img1/inner-banner/our-team.jpg" data-overlay-dark="5"
 style="background-image: url('./team.png'); 
 background-size: cover; 
 background-repeat: no-repeat; 
 background-attachment: fixed; 
 background-position: center 0px;
 background-blend-mode: overlay;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cont text-center mt-30">
                    <h1>Our Team</h1>
                    <!-- <div class="path">
                        <a routerLink="/">Home</a><span>/</span><a href="#" class="active">Darchline Studio</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</header>
<section class="about section-padding mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Principal Architect</h3>
                <div class="row">
                    <div class="col-lg-3 mt-40">
                        <img src="./team.png">
                        <p class="text-center"><b>Abhishek Gupta</b>
                        (<em>B.Arch</em>)</p>
                        <!-- <p class="text-center">B.Arch</p> -->
                    </div>
                    <div class="col-lg-9">
                        <div class="txt-cont mt-40">
                            <p class="mb-20">Founder and creative mind behind DArchline Studio, he has built his reputation
                                by designing and building various projects ranging from residences to commercial spaces,
                                hotels to restaurants, heavily rooted on the broadest vision of sustainability that
                                serves the center of the design development; focusing on well-being of spaces, combining
                                emotions, art and architecture with attention to detail and functionality. His organized
                                way of designing, coordination in all phases of project make his work unique that stands
                                out from others.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 mt-40">
                        <img src="./team.png">
                        <p class="text-center"><b>Dheeraj</b>(<em>B.Arch</em>)</p>
                        <!-- <p class="text-center">B.Arch</p> -->
                    </div>
                    <div class="col-lg-9">
                        <div class="txt-cont mt-40">
                            <p class="mb-20">Co founder and creative mind behind DArchline Studio, he has built his reputation
                                by designing and building various projects ranging from residences to commercial spaces,
                                hotels to restaurants, heavily rooted on the broadest vision of sustainability that
                                serves the center of the design development; focusing on well-being of spaces, combining
                                emotions, art and architecture with attention to detail and functionality. His organized
                                way of designing, coordination in all phases of project make his work unique that stands
                                out from others.</p>
                        </div>
                    </div>
                </div>

                <!-- <div class="row mt-90">
                    <div class="col-lg-12 mt-40">
                        <h3>Our Team</h3>
                        <p>Update Soon!</p>
                    </div>
                </div> -->
            </div>


        </div>
    </div>
</section>